apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace_name }}
  labels:
{% for key, value in labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{%- if annotations %}
  annotations:
{% for key, value in annotations.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{%- endif %}
