apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ quota_name }}
  namespace: {{ namespace_name }}
  labels:
{% for key, value in labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{%- if annotations %}
  annotations:
{% for key, value in annotations.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{%- endif %}
spec:
  hard:
    requests.cpu: "{{ cpu }}"
    requests.memory: "{{ memory }}"
    limits.cpu: "{{ cpu }}"
    limits.memory: "{{ memory }}"
